input.ng-invalid.ng-touched{
    border: 1px solid red;
  }

.help-block{
  color: rgb(255, 157, 217);
}

.details{
  background-color: aquamarine;
  color: black;
}

.second{
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  border:2px solid black;
}

.form-control{
  background-color: black;
}

label,textarea{
  color: white;
}

::placeholder{
  color: rgba(250, 235, 215, 0.548);
}

input{
  color-scheme: dark;
  color: rgb(187, 164, 231);;
}

.btn{
  background-color: rgb(179, 106, 240);
}

.lab{
 color: rgb(187, 164, 231);
}

.gen{
  color: rgb(187, 164, 231);
 }

 .symbol{
  position: absolute;
  bottom: 609px;
  left: 104px;
  color: white;
 }

 .mandatory::after{
  content: " * ";
  color: rgb(255, 0, 140);
  font-size: larger;
 }


