
h3{
    color: rgb(182, 64, 182);
    text-align: center;
}

b{
    color: white;
}

.add{
    background-color: blueviolet;
    color: white;
    align-content: center;
    margin-left: 45%;
}

.btn{
 margin-bottom: 3%;
}

table,td,tr,th,thead{
    border: 3px solid black;
    font-size: medium;
    text-align: center;
}

th,td{
   width: 234px;
}

.glyphicon{
  background-color: transparent;
  color: black;
  border-color: black;
}

.no-user{
    font-size: medium;
    color: rgb(153, 77, 168);
}

#first{
    margin-top: 3%;
}

.details{
    background-color:rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    margin-top: 4%;
}


.col-xs-12{
    width: 60.5%;
}

@media (max-width:768px){
    .add{
        margin-left: 42%;
    }
}

@media (max-width:425px){
    .add{
        margin-left: 36%;
    }
}

@media (max-width:320px) and (min-width:292px){
    .add{
        margin-left: 32%;
    }

    .glyphicon{
        width: 28px;
    }
}

