body, html {
    margin: 0;
}

body{ 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000");
  width: 100vw;
  height: 100vh;
}
